@use "../functionSASS/function.scss" as *;

.password {
  background-color: hsl(var(--Neutral-300));
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: hsl(var(--Neutral-100));
  padding: 1em;

  .password__text {
  }

  .password__copy-text {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 1rem;

    .copied{
        color: hsl(var(--Primary-100));
        text-transform: uppercase;
    }

    &:hover {
      svg path {
        fill: hsl(var(--Neutral-100));
      }
    }
  }
}
