/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  line-height: 1.1;
 font-size: 100%;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: jetBrainsMonoBold;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: jetBrainsMonoBold;
  src: url(../public/fonts/static/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: jetBrainsMono;
  src: url(../public/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: jetBrainsMonoBoldItalic;
  src: url(../public/fonts/static/JetBrainsMono-BoldItalic.ttf);
}

:root {
  --ff-bold: jetBrainsMonoBold;
  --ff-normal: jetBrainsMono;
  --ff-boldmetalic: jetBrainsMonoBoldItalic;

  /* colors */
  --Neutral-100: 252 11% 91%;
  --Neutral-200: 251 9% 53%;
  --Neutral-300: 248 10% 15%;
  --Neutral-400: 248 15% 11%;

  --Primary-100: 127 100% 82%;
  --Primary-200: 0 91% 63%;
  --Primary-300: 13 95% 66%;
  --Primary-400: 42 91% 68%;
}
